* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
	margin:0;

}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.icon-bar {
	background-color: white;
	line-height: 45px;
	vertical-align: middle;
}

.navbar-brand{
	font-size: 25px;
	padding:25px 60px;
	color: white;
	font-weight: bold;

}


.navbar {
	background-color: #4aaaa5;
	height:80px;
	border-bottom: 4px solid #666666;
	margin-bottom: 0px;
}

.nav li a{
	width:100px;
	line-height: 45px;
	color:white;
	text-align: center;
	font-weight: bold;
}

.nav li a:hover{
	color:#4aaaa5;
	}

.active {
	background-color: #3F8B87;

}

.container {
	height:auto;
	margin:0;
	padding:0;
	width: 100%;
	background-image: url("../images/concrete_subtle.png");
}

.row {
	margin:0;
}

.container h2, h3 {
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin-bottom:10px;
	font-weight: bold;
}

#about {
	border: 1px solid #dddddd; 
	width:45%;
	margin: 20px 10px 20px 25px;
	color: #777777;
	background-color: #ffffff;
}

#about hr {
	border:2px solid #dddddd;
	}

#connect {
	border: 1px solid #dddddd;
	width:45%;
	margin: 20px 10px 20px 25px;
	padding:10px;
	text-align:center;	
	color: #777777;
	background-color: #ffffff;
}

#connect hr {
	border:1px solid #dddddd;
	}

.navbar-fixed-bottom {
	height: 80px;
	border-top: 10px solid #4aaaa5;
	background-color: #666666;
	left: 0px;
	bottom: 0px;
	position: relative;
}

.navbar-fixed-bottom p{
	width: 100%;
	color: #dddddd;	
	line-height: 60px;
	text-align: center;
}


